@use "sass:math";
@use "theme";

@function scaled-size($ratio, $factor, $base: 1rem) {
  @return math.pow($ratio, $factor) * $base;
}

@mixin type-scale($ratio, $sizes, $base: 1rem) {
  @each $sizes, $factor in $sizes {
    .text-#{$sizes} {
      $font-size: scaled-size($ratio, $factor, $base);

      font-size: $font-size;
      line-height: math.ceil($font-size / theme.$unit) * theme.$unit;
    }
  }
}

@include type-scale(theme.$ratio, theme.$semantic-sizes);

$weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

@each $weight, $value in $weights {
  .font-#{"" + $weight} { font-weight: $value }
}

$styles: (
  normal,
  italic,
  oblique
);

@each $style in $styles {
  .font-#{$style} { font-style: $style }
}