@use "theme";
@use "atoms/typography";
@use "atoms/spacing";

.prose {
  @extend .text-md;
  width: 30rem;
  
  p {
    &:not(:first-child) {
      @extend .mt-md;
    }
  }

  a:any-link {
    color: theme.semantic-color(anchor-fg);
    padding: 0.05em;
    
    &:hover, &:focus {
      background-color: theme.semantic-color(anchor-bg);
    }
  }
}