@use "src/styles/vars";

.post {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;

    font-size: 1em;
    font-style: italic;

    line-height: 1em;
  }

  h1 {
    font-size: 2em;
  }

  h2, h3 {
    font-style: normal;
  }

  & > header {
    h1 {
      font-size: 4em;

      margin: 0;
      margin-bottom: 1rem;
    }

    time {
      font-size: 1em;
      color: hsl(0,0,60%);
    }
  }

  p, ul, ol, blockquote, pre, figure, aside {
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }

  a:any-link {
    color: hsl(0,0,60%)
  }

  blockquote {
    grid-column: 2 / span 2;

    @media screen and ( max-width: vars.$min-view-width ) {
      grid-column: 1 / span 2;
    }

    padding-left: 6px + 8px * 2;

    border-left: 2px solid hsl(0,0,20%);

    font-style: italic;
  }

  ul, ol {
    $list-padding: 8px * 4;

    padding-left: $list-padding;

    &.contains-task-list {
      list-style: none;

      li.task-list-item {
        position: relative;

        input[type="checkbox"] {
          position: absolute;

          top: 9px;
          left: -$list-padding;

          -moz-appearance: none;
          -webkit-appearance: none;
          -o-appearance: none;

          width: 16px;
          height: 16px;

          outline: 1px solid hsl(0,0,20%);
        }
      }
    }
  }


  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    width: 100%;
    grid-column: 2 / span 3;

    @media screen and ( max-width: vars.$min-view-width ) {
      grid-column: 1 / span 3;
    }

    line-height: 1;

    overflow-x: auto;

    padding: 1em 8px;

    background: hsl(0,0,20%);
    color: white;

    code {
      padding: 0;
      background: none;
    }
  }

  code {
    font-size: 0.8em;
    font-family: "ibm plex mono", monospace;
  }

  figure {
    grid-column: 2 / span 3;

    @media screen and ( max-width: vars.$min-view-width ) {
      grid-column: 1 / span 3;
    }

    padding: 0 8px;

    display: flex;
    flex-flow: column;

    align-items: center;

    figcaption {
      font-style: italic;
      color: hsl(0,0,60%);
    }

    &.wide {
      grid-column: 1 / -1;
      width: 100%;
    }
  }

  sup {
    font-size: 0.6em;

    padding-left: 4px;
    
    a {
      color: hsl(0,0,20%);
      text-decoration: none;
    }
  }


  hr {
    border: none;
    outline: none;

    height: 3em;
  }


  .footnote-backref {
    color: hsl(0,0,20%);
    text-decoration: none;
  }

  aside {
    grid-column-start: 5;
    width: 50%;

    font-style: italic;
    font-size: 0.75em;

    padding-left: 8px * 2;

    @media screen and ( max-width: vars.$min-view-width ) {
      grid-column: 2;
      width: 100%;

      padding-left: 0;
    }
  }
}
