@use "sass:color";

$min-view-width: 750px;

@function color($color) {
  $colors: (
    fg: #111,
    bg: white,
    light-fg: color.scale(#111, $lightness: 40%)
  );

  @return map-get($colors, $color);
}