@use "reset";
@use "font";
@use "atoms/typography";
@use "vars";
@use "fluid-type" as ft;

html {
  font-size: 120%;
  font-family: font.family(mono);

  z-index: 0;
  box-sizing: border-box;
  position: relative;

  *, *:before, *:after {
    z-index: inherit;
    box-sizing: inherit;
    position: inherit;
  }
}

img.emoji {
  width: 1em;
  height: 1em;

  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}