@use "reset";
@use "font";
@use "theme";
@use "code";
@use "atoms/typography";
@use "atoms/spacing";
@use "molecules/voices";

html {
  font-size: 110%;

  z-index: 0;
  box-sizing: border-box;
  position: relative;

  *, *:before, *:after {
    z-index: inherit;
    box-sizing: inherit;
    position: inherit;
  }
}

body {
  @extend .voice-normal, .text-md;

  color: theme.semantic-color(fg);
  background: theme.semantic-color(bg);
}

img.emoji {
  width: 1em;
  height: 1em;

  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}

em { @extend .voice-emphasis; }
strong { @extend .voice-important; }

sup {
  font-size: 50%;
  vertical-align: super;
}

sub {
  font-size: 50%;
  vertical-align: sub;
}