@use "reset";
@use "font";
@use "atoms/typography";
@use "atoms/spacing";
@use "theme";
@use "code";

html {
  font-size: 110%;
  font-family: font.family(mono);

  z-index: 0;
  box-sizing: border-box;
  position: relative;

  *, *:before, *:after {
    z-index: inherit;
    box-sizing: inherit;
    position: inherit;
  }
}

body {
  font-size: 1rem;
  line-height: theme.$unit * 2;

  color: theme.semantic-color(fg);
  background: theme.semantic-color(bg);
}

img.emoji {
  width: 1em;
  height: 1em;

  margin: 0 .05em 0 .1em;
  vertical-align: -.1em;
}