@use "src/styles/vars";

.layout {
  & > header, main, footer, article {
    display: grid;
    grid-template-columns: 1fr 8px 75ch 8px 1fr;

    @media screen and ( max-width: vars.$min-view-width ) {
      grid-template-columns: 8px auto 8px;
    }

    * {
      grid-column: 3;

      @media screen and ( max-width: vars.$min-view-width ) {
        grid-column: 2;
      }
    }
  }


  & > header {
    a {
      color: hsl(0,0,20%);
      text-decoration: none;
    }

    h1 {
      font-size: 1em;
      font-style: normal;
      text-transform: uppercase;
    }

    margin-bottom: 4em;
  }


  footer {
    margin-top: 4em;
  }
}
