@use "atoms/typography";

%site-grid {
  display: grid;
  grid-template-columns: auto min(61.8vmax, 100vw) auto;
  grid-template-rows: auto;
  row-gap: 2rem;
};

.container {
  @extend %site-grid;

  .header, .main, .footer {
    grid-column: 2;
  }
}

.header {
  @extend .text-xl, .font-black;
}